.app-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

body {
    background-image: url(../../../assets/images/test2.png);
    // background-image: url(../../../assets/images/test3.jpg);
}
